# Ignore everything
*

# But do NOT ignore these specific files/folders
!src/
!**/*.java
!build.gradle
!settings.gradle
!gradlew
!gradlew.bat
!gradle/
!.gitignore

# Re-ignore the build folder inside src just in case
src/**/build/
